@import "../var"

.container
  position: relative
  display: grid
  grid-template-areas: "navbar navbar navbar" "sidebar main main"
  grid-template-columns: $sidebar-full-width 1fr 1fr
  grid-template-rows: $navbar-height 1fr
  &__collapsed
    display: grid
    grid-template-areas: "navbar navbar navbar" "sidebar main main"
    grid-template-columns: $sidebar-width 1fr 1fr
    grid-template-rows: $navbar-height 1fr

.navbar
  grid-area: navbar
  width: 100%
  position: fixed
  background: #0f0f0f
  height: $navbar-height
  z-index: 3

.content
  grid-area: main
  display: grid
  grid-template-areas: "tags" "videos"
  grid-template-rows: 56px 1fr

.videos
  display: grid
  grid-area: videos
  grid-template-columns: 1fr 1fr 1fr
  gap: 15px
  padding: 1.5rem

.tags
  grid-area: tags
  position: fixed
  z-index: 2
  overflow: hidden
  width: calc( 100vw - $sidebar-full-width)
  &__collapsed
    grid-area: tags 
    position: fixed
    z-index: 2
    overflow: hidden
    width: calc(100vw - $sidebar-width)

.sidebar
  position: relative
  grid-area: sidebar
  overflow: scroll
  width: $sidebar-full-width
  background: #0f0f0f
  position: fixed
  height: calc(100vh - $navbar-height)
  top: $navbar-height
  left: 0
  &__collapsed
    position: relative
    grid-area: sidebar
    width: $sidebar-width
    background: #0f0f0f
    position: fixed
    height: 100%
    top: $navbar-height
    left: 0
