@import "../var.css"

.container
  position: relative
  display: grid
  grid-template-areas: "navbar navbar navbar" "sidebar main main"
  grid-template-columns: var(--sidebar-full-width) 1fr 1fr
  grid-template-rows: var(--navbar-height) 1fr
  &__collapsed
    display: grid
    grid-template-areas: "navbar navbar navbar" "sidebar main main"
    grid-template-columns: var(--sidebar-width) 1fr 1fr
    grid-template-rows: var(--navbar-height) 1fr

.navbar
  grid-area: navbar
  width: 100%
  position: fixed
  background: var(--main-background)
  height: var(--navbar-height)
  z-index: 3

.content
  grid-area: main
  display: grid
  grid-template-areas: "tags" "videos"
  grid-template-rows: var(--navbar-height) 1fr

.videos
  display: grid
  grid-area: videos
  grid-template-columns: repeat(auto-fill, minmax(320px , 1fr))
  gap: 15px
  padding: 1.5rem

.tags
  grid-area: tags
  position: fixed
  z-index: 2
  overflow: hidden
  width: calc( 100vw - var(--sidebar-full-width))
  top: var(--navbar-height)
  &__collapsed
    grid-area: tags 
    position: fixed
    z-index: 2
    overflow: hidden
    top: var(--navbar-height)
    width: calc(100vw - var(--sidebar-width))

.sidebar
  position: relative
  grid-area: sidebar
  width: var(--sidebar-full-width)
  background: var(--main-background)
  position: fixed
  height: calc(100vh - var(--navbar-height))
  top: var(--navbar-height)
  left: 0
  &__collapsed
    position: relative
    grid-area: sidebar
    width: var(--sidebar-width)
    background: var(--main-background)
    position: fixed
    height: 100%
    top: var(--navbar-height)
    left: 0

.isDesktop
  display: block

.mobile__videos
  display: none
  grid-area: videos
  grid-template-columns: repeat(auto-fill, minmax(320px , 1fr))
  gap: 15px
  padding: 1.5rem

@media screen and ( width <= 500px  )
  .videos
    display: none
  .mobile__videos
    display: grid
  .isDesktop
    display: none
  .sidebar
    display: none
    &__collapsed
      display: none
  .container
    &__collapsed
      grid-template-columns: 1fr
  .videos
    grid-template-columns: 1fr
  .tags
    width: 100vw
    &__collapsed
      width: 100vw
  

