@import "../var.css"
  
.container
  display: grid
  grid-template-rows: var(--navbar-height) 1fr


.notfound
  display: grid
  place-content: center
  height: calc(100vh - var(--navbar-height))
  text-align: center
  color: var(--main-color)
  &> img
    max-width: 300px
    display: block
    margin: 0 auto
  &> h1
    text-align: center
    line-height: 1.5
    &> span
      line-height: 1.5
      display: block
  &> a
    text-decoration: none
    border-radius: 2rem
    font-size: 14px
    color: var(--blue-color)
    font-weight: 500
    border: 1px solid var(--gray-color)
    max-width: 120px
    height: 40px
    display: flex
    justify-content: center
    align-items: center
    margin: 0 auto
    padding: 0rem 1rem
    margin-top: 2rem

.aside
  position: relative
  grid-area: sidebar
  overflow: scroll
  width: var(--sidebar-full-width)
  background: var(--main-background)
  position: fixed
  height: calc(100vh - var(--navbar-height))
  top: var(--navbar-height)
  left: 0
  &__collapsed
    position: relative
    grid-area: sidebar
    width: var(--sidebar-width)
    background: var(--main-background)
    position: fixed
    height: 100%
    top: var(--navbar-height)
    left: 0
