@import "../var"

.container
  display: grid
  grid-template-rows: 56px 1fr
  grid-template-areas: "navbar" "content"
  grid-template-columns: 1fr

.navbar
  grid-area: navbar
  width: 100%
  position: fixed
  background: var(--main-background)
  height: 56px
  z-index: 1

.video
  height: 560px 
  width: 315px 
  scroll-snap-align: start
  margin-bottom: 3rem
  position: relative

.button
  text-align: center
  display: flex
  flex-direction: column
  gap: 0.3rem
  &> span
    color: var(--main-color)

.videocontainer
  display: flex
  justify-content: center
  align-items: flex-start

.sidebar
  width: 70px
  height: 560px
  display: flex
  flex-direction: column
  justify-content: flex-end
  align-items: center
  gap: 1rem
  &> img
    width: 45px
    height: 45px
    border-radius: 0.5rem

.content
  grid-area: content
  height:  calc(100vh - 56px)
  width: 100%
  overflow-y: scroll
  scroll-snap-type: y mandatory
  scrollbar-width: none
  &::-webkit-scrollbar 
      display: none

.mobilesidebar
  position: fixed
  right: 0rem
  bottom: 53px
  padding: 1rem
  width: 70px
  display: flex
  flex-direction: column
  justify-content: flex-end
  align-items: center
  gap: 1rem
  height: calc( 100vh - 53px)
  height: calc( 100dvh - 53px)
  display: none
  &> img
    width: 45px
    height: 45px
    border-radius: 0.5rem

.aside
  position: relative
  grid-area: sidebar
  overflow: scroll
  width: var(--sidebar-full-width)
  background: var(--main-background)
  position: fixed
  height: calc(100vh - var(--navbar-height))
  top: var(--navbar-height)
  left: 0
  &__collapsed
    position: relative
    grid-area: sidebar
    width: var(--sidebar-width)
    background: var(--main-background)
    position: fixed
    height: 100%
    top: var(--navbar-height)
    left: 0


.footer
  position: fixed
  bottom: 0
  left: 0
  background: var(--main-background)
  width: 100%
  display: flex
  justify-content: space-around
  padding: 0.5rem 1rem
  display: none
  grid-area: footer

@media screen and (width <= 600px)
  .container
    display: grid
    grid-template-rows: 1fr 1fr
    grid-template-areas: "content" "footer"
    grid-template-columns: 1fr
  .aside
    &__collapsed
      display: none
  .navbar
    display: none
  .sidebar
    display: none
  .footer
    display: flex
  .video
    width: 100%
  .mobilesidebar
    display: flex