* 
  padding: 0
  margin: 0
  box-sizing: border-box
  font-family: 'Roboto', sans-serif
  scroll-behavior: smooth
  scrollbar-width: thin
  scrollbar-color: #616161 #1a1a1a
  scrollbar-gutter: stable

body 
  background: #0f0f0f
  color: #f0f0f0
  font-size: 14px