// DARK MODE
$sidebar-width: 72px
$sidebar-full-width: 240px
$navbar-height: 56px
$main-background: #0f0f0f
$secundary-background: #272727
$main-color: rgba(255, 255, 255, 0.88)
$gray-hover: #434243
$gray-border: rgba(255, 255, 255, 0.2)
$blue-hover: #263850
$blue-color: rgb(62, 166, 255)
$white: #fff
$gray-color: #aaaaaa
