@import '../../styles/var.css'
  
.card
  display: flex
  text-decoration: none
  color: var(--main-color)
  gap: 1rem
  z-index: 4
  &__image
    height: 100%
    max-width: 165px
    width: 100%
    border-radius: 1rem
    aspect-ratio: 1.73
    overflow: hidden
  &__info
    display: flex
    flex-direction: column
    gap: 0.25rem
  &__title
    font-size: 15px
    font-weight: 500
    max-width: 200px
  &__channel
    color: var(--gray-color)
    font-size: 12px
  &__views
    color: var(--gray-color)
    font-size: 12px
    
