.card
  display: flex
  text-decoration: none
  color: #fff
  gap: 1rem
  z-index: 4
  &__image
    height: 100%
    width: 100%
    border-radius: 1rem
    aspect-ratio: 1.73
    overflow: hidden
  &__info
    display: flex
    flex-direction: column
    gap: 0.25rem
  &__title
    font-size: 15px
    font-weight: 500
    max-width: 200px
  &__channel
    color: rgb(170, 170, 170)
    font-size: 12px
  &__views
    color: rgb(170, 170, 170)
    font-size: 12px
    
