@import '../../styles/var'
  
.tag
  display: block
  background: $secundary-background
  color: $main-color
  font-size: 14px
  border-radius: 0.5rem
  padding: 0.5rem 1rem
  border: none
  height: 40px
  width: fit-content
  white-space: nowrap
  cursor: pointer
  &:hover
    background: $gray-hover
    color: $main-color
  &__selected
    background: $white
    color: #000
    &:hover
      background: $white
      color: $main-background