@import '../../styles/var.css'
  
.tag
  display: block
  background: var(--secundary-background)
  color: var(--main-color)
  font-size: 14px
  border-radius: 0.5rem
  padding: 0.5rem 1rem
  border: none
  height: 32px
  width: fit-content
  white-space: nowrap
  cursor: pointer
  &:hover
    background: var(--gray-hover)
    color: var(--main-color)
  &__selected
    background: var(--white)
    color: var(--black)
    &:hover
      background: var(--white)
      color: var(--main-background)