.tag
  display: block
  background: #272727
  color: #fff
  font-size: 14px
  border-radius: 0.5rem
  padding: 0.5rem 1rem
  border: none
  height: 40px
  width: fit-content
  white-space: nowrap
  cursor: pointer
  &:hover
    background: #3f3f3f