@import '../../styles/var.css'
  
.card
  overflow: hidden
  cursor: pointer
  text-decoration: none
  display: block
  &__title
    color: var(--main-color)
    font-size: 16px
    width: 100%
    padding: 0.5rem
  &__img
    width: 100%
    display: block
    aspect-ratio: 1.73
    border-radius: 1rem
    overflow: hidden
  &__duration
    color: var(--main-color)
    background: var(--main-background)
    position: absolute
    right: 10px
    bottom: 5px
    padding: 0.1rem 0.3rem
    border-radius: 0.2rem
    font-size: 12px
  &__thumbnail
    position: relative

