.info
  display: flex
  justify-content: space-between
  align-items: center

.subscribe
  padding: 10px 0rem
  &__title
    font-size: 20px
    font-weight: 700

.channel
  display: flex
  gap: 1rem
  align-items: center
  justify-content: flex-start
  margin-top: 10px
  &__avatar
    display: block
    border-radius: 50%
    width: 40px
    height: 40px
    object-fit: cover
  &__info
    &> span
      color: rgb(170, 170, 170)
      font-size: 12px
    &> h4
      font-size: 14px
      color: rgb(241, 241, 241)

.actions
  display: flex
  justify-content: space-between
  align-items: center
  gap: 0.5rem