.details
  color: #fff
  display: flex
  justify-content: center
  padding: 0.8rem 0rem
  gap: 0.8rem

.avatar
  &> img
    border-radius: 50%
    width: 40px
    height: 40px
    object-fit: cover
.info
  display: flex
  flex-direction: column
  gap: 0.2rem

.title
  font-size: 16px

.channel
  color: #aaaaaa

.views
  color: #aaaaaa