.navbar
  display: flex
  justify-content: space-between
  padding: 0 16px
  align-items: center
  height: 100%

.container
  display: flex
  gap: 1rem
  justify-self: center
  align-items: center
  height: 100%
  list-style-type: none

.menu
  &__icon
    padding: 0.5rem
    overflow: hidden
    width: 40px
    border-radius: 50%
    display: block
    height: 40px
    fill: #fff
    &:hover
      cursor: pointer
      background: #272727
