@import '../../styles/var.css'
  
.profile
  display: flex
  justify-content: flex-start
  align-items: flex-start
  color: var(--main-color)
  padding: 0rem 1rem
  gap: 1rem
.avatar
  width: 30px
  height: 30px
.info
  display: flex
  flex-direction: column
  justify-content: flex-start
  gap: 0.5rem
  &> span 
    text-align: left
    display: block
    font-size: 16px
.channel
  margin-top: 0.5rem
  color: rgb(62, 166, 255)
  font-size: 14px
  text-decoration: none