@import '../../styles/var'

.search
  border-radius: 2rem
  height: 40px
  width: 600px
  display: flex
  justify-content: center
  align-items: center
  background: $main-background
  outline: 1px solid rgb(48,48 ,48 )
  &__icon
    fill: $main-color
    margin-left: 1rem
    display: block
  &__input
    position: relative
    color: rgba(255, 255, 255, 0.88)
    padding-left: 1rem
    font-size: 1rem
    background: $main-background
    height: 100%
    width: 100%
    border: none
    border-top-left-radius: 2rem
    border-bottom-left-radius: 2rem
    &:focus
      outline: 1px solid rgb(62, 166, 255)
  &__button
    color: $main-color
    background: $secundary-background
    border: none
    fill: $main-color
    height: 100%
    width: 65px
    cursor: pointer
    border-top-right-radius: 2rem
    border-bottom-right-radius: 2rem
    outline: 1px solid rgb(48,48 ,48 )
    
