@import '../../styles/var.css'

.search
  border-radius: 2rem
  height: 40px
  width: 60%
  display: flex
  justify-content: center
  align-items: center
  background: var(--main-background)
  outline: 1px solid var(--gray-border)
  &__icon
    fill: var(--main-color)
    margin-left: 1rem
    display: block
  &__input
    position: relative
    color: var(--main-color)
    padding-left: 1rem
    font-size: 1rem
    background: var(--main-background)
    height: 100%
    width: 100%
    border: none
    border-top-left-radius: 2rem
    border-bottom-left-radius: 2rem
    &:focus
      outline: 1px solid var(--blue-color)
  &__button
    color: var(--main-color)
    background: var(--secundary-background)
    border: none
    fill: var(--main-color)
    height: 100%
    width: 65px
    cursor: pointer
    border-top-right-radius: 2rem
    border-bottom-right-radius: 2rem

.mobile
  position: absolute
  display: flex
  width: 100%
  top: 0
  left: 0
  height: var(--navbar-height)
  z-index: 3
  justify-content: center
  align-items: center
  height: 56px
  background: var(--main-background)
  gap: 1rem
  padding: 0rem 1rem
  & svg
    width: 24px
    height: 24px
  &> div
    display: flex
    justify-content: center
    align-items: center
  &__input
    position: relative
    color: var(--main-color)
    padding-left: 1rem
    font-size: 1rem
    outline: 1px solid var(--gray-border)
    background: var(--main-background)
    height: 40px
    width: 100%
    border: none
    border-top-left-radius: 2rem
    border-bottom-left-radius: 2rem
  &__close
    background: var(--main-background)
    border: none
    cursor: pointer
    &> svg
      fill: #fff
  &__button
    color: var(--main-color)
    background: var(--secundary-background)
    border: none
    fill: var(--main-color)
    height: 40px
    width: 65px
    cursor: pointer
    outline: 1px solid var(--gray-border)
    border-top-right-radius: 2rem
    border-bottom-right-radius: 2rem
    &> svg
      fill: var(--main-color)