.search
  border-radius: 2rem
  overflow: hidden
  height: 40px
  border: 1px solid rgb(48,48 ,48 )
  width: 600px
  display: flex
  justify-content: center
  align-items: center
  &__input
    color: rgba(255, 255, 255, 0.88)
    padding-left: 1rem
    font-size: 1rem
    background: #121212
    height: 100%
    width: 100%
    border: none
  &__button
    color: #fff
    background: #222
    border: none
    fill: #fff
    height: 40px
    width: 65px
    cursor: pointer
    
