@import '../../styles/var.css'
  
.menu
  width: 300px
  border-radius: 1rem
  background: var(--secundary-background)
  position: absolute
  right: 0px
  top: var(--navbar-height)
  display: flex
  flex-direction: column
  overflow: hidden
  &__list
    list-style-type: none
    padding: 0 !important
  &__item
    height: 40px
    width: 100% !important
    display: flex 
    cursor: pointer
    align-items: center
    gap: 1rem
    padding: 1.5rem !important
    border-radius: 0 !important
    padding-left: 18px
    &> svg
      fill: var(--main-color)
    &:hover
      background: var(--gray-hover) !important

.container
  position: relative