.menu
  width: 300px
  border-radius: 1rem
  background: #282828
  position: absolute
  right: 0px
  top: 56px
  display: flex
  flex-direction: column
  overflow: hidden
  &__list
    list-style-type: none
    padding: 0
  &__item
    height: 40px
    width: 100%
    display: flex
    cursor: pointer
    align-items: center
    gap: 1rem
    padding: 1.5rem
    border-radius: 0
    padding-left: 18px
    &> svg
      fill: #fff
    &:hover
      background: #3e3e3e

.container
  position: relative