.button
  cursor: pointer
  border: none
  padding: 0.5rem
  border-radius: 2rem
  fill: #fff
  background: #222
  width: 40px
  height: 40px
  &> svg
    pointer-events: none
  &:hover
    cursor: pointer
    background: #272727

.menu
  cursor: none
  background: transparent

.popup
  background: transparent
  
.signin
  border: rgba(255, 255, 255, 0.2) 1px solid
  border-radius: 2rem
  width: 100px
  height: 35px
  font-size: 14px
  background: transparent
  color: rgb(62, 166, 255)
  display: flex
  justify-content: center
  align-items: center
  fill: rgb(62, 166, 255)
  gap: 0.5rem
  &:hover
    background: #263850
    border: #263850 1px solid