@import '../../styles/var.css'
  
.item
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  border-radius: 0.5rem
  cursor: pointer
  gap: 3px
  padding: 1rem 0.5rem
  text-decoration: none
  color: var(--main-color)
  &:hover
    background: var(--secundary-background)

.icon
  fill: var(--main-color)

.title
  font-size: 10px

