.item
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  border-radius: 0.5rem
  cursor: pointer
  gap: 3px
  padding: 1rem 0.5rem
  text-decoration: none
  color: #fff
  &:hover
    background: #272727

.icon
  fill: #fff

.title
  font-size: 10px

